<html>
  <head>
    <title>Extremest Extraction></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

     <style type='text/css'>
       textarea {
       white-space: nowrap;
       overflow:    scroll;
       overflow-y:  scroll;
       overflow-x:  scroll;
       overflow:    -moz-scrollbars-horizontal;
       }
     </style>

     <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combin
ed.js"></script>

     <style media="screen">
       /* Add space between vega-embed links  */
       .vega-actions a {
       margin-right: 5px;
       }
     </style>
  </head>
  <body>


    <h2> <b> Results: </b></h2>

      Domain: <select id="domains" name="domains">
        <option value="death">death</option>
        <option value="health" selected>health</option>
        <option value="ent">ent</option>
        <option value="bus">bus</option>
        <option value="sci">sci</option>
      </select>

     Classifier:  <select id="classifiers" name="classifiers">
        <option value="CNN">CNN</option>
        <option value="LR" selected>LR</option>
      </select>

     
    <br/>
    Strategies to include:<br/>
    <input type="checkbox" name="strategy" value="Seed-PositiveLabeling-Bounded-Ratio">Seed-PositiveLabeling-Bounded-Ratio</input> <br/>
    <input type="checkbox" name="strategy" value="Seed-ActiveLabeling">Seed-ActiveLabeling</input> <br/>
    <input type="checkbox" name="strategy" value="Seed-ActiveLabeling-Bounded-Ratio">Seed-ActiveLabeling-Bounded-Ratio</input> <br/>
    <input type="checkbox" name="strategy" value="Round-Robin-Bounded-Ratio">Round-Robin-Bounded-Ratio</input> <br/>
    <input type="checkbox" name="strategy" value="RandomLabel-Only-Bounded-Ratio">RandomLabel-Only-Bounded-Ratio</input> <br/>
    <input type="checkbox" name="strategy" value="RandomLabel-Only">RandomLabel-Only</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelPosBR)-2.0-1.0">UCB(GenPos-LabelPosBR)-2.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelPosUSBR)-2.0-1.0">UCB(GenPos-LabelPosUSBR)-2.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActive)-2.0-1.0">UCB(GenPos-LabelActive)-2.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActiveBR)-2.0-1.0">UCB(GenPos-LabelActiveBR)-2.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActive)-2.0-0.5">UCB(GenPos-LabelActive)-2.0-0.5</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelPosBR)-1.0-1.0">UCB(GenPos-LabelPosBR)-1.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelPosUSBR)-1.0-1.0">UCB(GenPos-LabelPosUSBR)-1.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActive)-1.0-1.0">UCB(GenPos-LabelActive)-1.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActiveBR)-1.0-1.0">UCB(GenPos-LabelActiveBR)-1.0-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActive)-0.5-1.0">UCB(GenPos-LabelActive)-0.5-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="UCB(GenPos-LabelActive)-0.75-1.0">UCB(GenPos-LabelActive)-0.75-1.0</input> <br/>
    <input type="checkbox" name="strategy" value="Thompson(GenPos-LabelPosBR)">Thompson(GenPos-LabelPosBR)</input> <br/>
    <input type="checkbox" name="strategy" value="Guided-Learning">Guided-Learning</input> <br/>
    <input type="checkbox" name="strategy" value="Hybrid-5e-1">Hybrid-5e-1</input> <br/>

      <button id="skew-analyze">Skew-Analyze!</button>
<hr/>
      Skew: Number of Negatives Per Positive: <select id="skew" name="skew">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="9">9</option>
        <option value="49">49</option>
        <option value="99">99</option>
        <option value="499">499</option>
        <option value="999">999</option>
      </select>

      <button id="analyze">Draw Individual Learning Curve</button>


<hr/>

    <!--<button id="analyze">
      Analyze and Get Learning Curves</button>-->
    <br/>
    <b>Precision</b>
    <br/>
    <!--<b>0: Generate Positive Examples, </b>
    <b>1: Generate Negative Examples, </b>
    <b>2: Label Predicted Positives </b> -->
    <br/>
    <div id="precision_legend"></div>
    <div id="precision"></div>
<br/>
    <b>Recall</b>
    <br/>
    <!--<b>0: Generate Positive Examples, </b>
    <b>1: Generate Negative Examples, </b>
    <b>2: Label Predicted Positives </b> -->
    <br/>
    <div id="recall_legend"></div>
    <div id="recall"></div>
<br/>
    <b>F1</b>
    <br/>
    <!--<b>0: Generate Positive Examples, </b>
    <b>1: Generate Negative Examples, </b>
    <b>2: Label Predicted Positives </b> -->
    <br/>
<div id="f1_legend"></div>
    <div id="f1"></div>



</body>
  <script type="text/javascript">
    var xmlhttp_analyze_experiment = new XMLHttpRequest();
    
    function analyze_all_experiments() {
	var menu = document.getElementById("domains");
	var selected_domain = menu.options[menu.selectedIndex].value;

	var classifier_menu = document.getElementById("classifiers");
	var selected_classifier = classifier_menu.options[
	    classifier_menu.selectedIndex].value;

	var skew_menu = document.getElementById("skew");
	var selected_skew = skew_menu.options[
	    skew_menu.selectedIndex].value;
	
	

	var analyze_experiment_url = '/analyze_all_experiments?domain=';
	analyze_experiment_url += selected_domain;

	analyze_experiment_url += '&classifier=';
	analyze_experiment_url += selected_classifier;

	analyze_experiment_url += '&skew=';
	analyze_experiment_url += selected_skew;


	var checkboxes = document.getElementsByName("strategy");
	// loop over them all
	var none_checked = true;
	for (var i=0; i<checkboxes.length; i++) {
	    // And stick the checked ones onto an array...
	    if (checkboxes[i].checked) {
		none_checked = false;
		analyze_experiment_url += '&strategies=';
		analyze_experiment_url += checkboxes[i].value;
	    }
	}
	if (none_checked) {
	    for (var i=0; i<checkboxes.length; i++) {
		analyze_experiment_url += '&strategies=';
		analyze_experiment_url += checkboxes[i].value;
	    }
	}

	xmlhttp_analyze_experiment.open("GET", analyze_experiment_url, true);
        xmlhttp_analyze_experiment.send();

    }
    
    xmlhttp_analyze_experiment.onreadystatechange = function() {
	if (xmlhttp_analyze_experiment.readyState == 4 &&
	    xmlhttp_analyze_experiment.status == 200) {
	    console.log(xmlhttp_analyze_experiment.responseText);
	    console.log(JSON.parse(xmlhttp_analyze_experiment.responseText));
	    var analysis  = JSON.parse(
                xmlhttp_analyze_experiment.responseText);

            var precision_curve = analysis[0];
            var recall_curve = analysis[1];
            var f1_curve = analysis[2];

            g_precision = new Dygraph(
                document.getElementById("precision"),
                precision_curve,
                {
                    errorBars: true,
                    xlabel: 'Amount Spent',
                    ylabel: 'Precision',
                    legend: 'always',
		    labelsDiv: 'precision_legend',
		    drawPoints:true,
		    connectSeparatedPoints: true,
                }
            );
            g_recall = new Dygraph(
                document.getElementById("recall"),
                recall_curve,
                {
                    errorBars: true,
                    xlabel: 'Amount Spent',
                    ylabel: 'Recall',
                    legend: 'always',
		    labelsDiv: 'recall_legend',
		    drawPoints:true,
		    connectSeparatedPoints: true,

                }
            );
            g_f1 = new Dygraph(
                document.getElementById("f1"),
                f1_curve,
                {
                    errorBars: true,
                    xlabel: 'Amount Spent',
                    ylabel: 'F1',
                    legend: 'always',
		    labelsDiv: 'f1_legend',
		    drawPoints:true,
		    connectSeparatedPoints: true

		}
	    );
	}
    };

    document.getElementById('analyze').onclick = analyze_all_experiments;
    //analyze_all_experiments();


    var xmlhttp_skew_analyze = new XMLHttpRequest();
    
    function skew_analyze() {
	var menu = document.getElementById("domains");
	var selected_domain = menu.options[menu.selectedIndex].value;

	var classifier_menu = document.getElementById("classifiers");
	var selected_classifier = classifier_menu.options[
	    classifier_menu.selectedIndex].value;
	
	

	var skew_analyze_url = '/skew_analyze?domain=';
	skew_analyze_url += selected_domain;

	skew_analyze_url += '&classifier=';
	skew_analyze_url += selected_classifier;



	var checkboxes = document.getElementsByName("strategy");
	// loop over them all
	var none_checked = true;
	for (var i=0; i<checkboxes.length; i++) {
	    // And stick the checked ones onto an array...
	    if (checkboxes[i].checked) {
		none_checked = false;
		skew_analyze_url += '&strategies=';
		skew_analyze_url += checkboxes[i].value;
	    }
	}
	if (none_checked) {
	    for (var i=0; i<checkboxes.length; i++) {
		skew_analyze_url += '&strategies=';
		skew_analyze_url += checkboxes[i].value;
	    }
	}


	xmlhttp_skew_analyze.open("GET", skew_analyze_url, true);
        xmlhttp_skew_analyze.send();

    }

    xmlhttp_skew_analyze.onreadystatechange = function() {
	if (xmlhttp_skew_analyze.readyState == 4 &&
	    xmlhttp_skew_analyze.status == 200) {
	    console.log(xmlhttp_skew_analyze.responseText);
	    console.log(JSON.parse(xmlhttp_skew_analyze.responseText));
	    var analysis  = JSON.parse(
                xmlhttp_skew_analyze.responseText);

            var precision_curve = analysis[0];
            var recall_curve = analysis[1];
            var f1_curve = analysis[2];

            g_precision = new Dygraph(
                document.getElementById("precision"),
                precision_curve,
                {
                    errorBars: true,
                    xlabel: 'Skew: Number of Negatives Per Positive',
                    ylabel: 'Precision AOC',
                    legend: 'always',
		    labelsDiv: 'precision_legend',
		    connectSeparatedPoints: true,
		    drawPoints:true,
		    axes : {x : {logscale : true}}
                }
            );
            g_recall = new Dygraph(
                document.getElementById("recall"),
                recall_curve,
                {
                    errorBars: true,
                    xlabel: 'Skew: Number of Negatives Per Positive',
                    ylabel: 'Recall AOC',
                    legend: 'always',
		    labelsDiv: 'recall_legend',
		    connectSeparatedPoints: true,
		    drawPoints:true,
		    axes : {x : {logscale : true}}

                }
            );
            g_f1 = new Dygraph(
                document.getElementById("f1"),
                f1_curve,
                {
                    errorBars: true,
                    xlabel: 'Skew: Number of Negatives Per Positive',
                    ylabel: 'F1 AOC',
                    legend: 'always',
		    labelsDiv: 'f1_legend',
		    connectSeparatedPoints: true,
		    drawPoints:true,
		    axes : {x : {logscale : true}}

		}
	    );
	}
    };

    document.getElementById('skew-analyze').onclick = skew_analyze;
    //analyze_all_experiments();


  </script>
</html>
