<html>
  <head>
    <title>Extremest Extraction></title>
     <style type='text/css'>
       textarea {
       white-space: nowrap;
       overflow:    scroll;
       overflow-y:  scroll;
       overflow-x:  scroll;
       overflow:    -moz-scrollbars-horizontal;
       }
     </style>
  </head>
  <body>
    <h3> Extremest Extraction v0.1</h3>
    <h2> Your event is now being learned! </h2>
    <b>Event:</b> {{ event_name }}
    <br/>
    <b>Event Definition:</b> {{ event_definition }}
    <br/>
    <b>Event Positive Example 1: </b> {{ event_pos_example_1 }}
    <br/>
    <b>Event Positive Example 1 Trigger: </b> {{ event_pos_example_1_trigger }}
    <br/>
    <b>Event Positive Example 2: </b> {{ event_pos_example_2 }}
    <br/>
    <b>Event Positive Example 2 Trigger: </b> {{ event_pos_example_2_trigger }}
    <br/>
    <b>Event Positive Example Near-miss: </b> {{ event_pos_example_nearmiss }}
    <br/>
    <b>Event Negative Example </b> {{ event_neg_example }}
    <br/>
    <b>Event Negative Example Near-Miss </b> {{event_neg_example_nearmiss}}
    <br/>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe">
    </iframe>

    <h2> <b>Current Status:</b> </h2>
    <b> Job Id (save this somewhere!): </b> {{job_id}} <br/>
    <p> <b><span id="num_training_examples">0</span></b> training examples. </p>
    Positive examples:<br/>
    <textarea id=positive_examples rows="10" cols="100" wrap="soft">
    </textarea><br/>
    Negative examples<br/>
    <textarea id=negative_examples rows="10" cols="100" wrap="soft">
    </textarea><br/>
    <button id="refresh">Refresh</button>
    <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-refresh" style="visibility:hidden;"/>


    <hr/>
    <h2> <b> Restart a crashed job (Don't push this unless you know what you're doing!): </b> </h2>
    <form action="/restart" method="post" target="dummyframe">
      <input type="hidden" name="job_id" size="100" value="{{job_id}}" /><br/>
      <input type="submit" value="Restart Training">
    </form>
    <hr/>
    <h2><b> Retrain a CNN using all available training data: </b></h2>
    <span id="retrain_status"></span><br/>
    <button id="retrain">Retrain a CNN</button>
    <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-retrain" style="visibility:hidden;"/>

    <hr/>
    <h2><b> Try a sentence: </b></h2>
      <input id="test_sentence" type="text" size="100" placeholder="Enter a test sentence here."/> <br/>
      <button id="test">{{event_name}}??</button>
      <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-test" style="visibility:hidden;"/>

      <br/>
      
      <b><span id="test_result"></span></b>
  </body>



  
  <script type="text/javascript">
    //
    //REFRESH CODE
    //
    var xmlhttp_refresh = new XMLHttpRequest();
    var refresh_url = '/gather_status';
    refresh_url += '?job_id={{job_id}}';
    
    document.getElementById("refresh").onclick = refresh;
    function refresh() {
	document.getElementById(
	    'submitting-indicator-refresh').style.visibility = 'visible';
	xmlhttp_refresh.open("GET", refresh_url, true);
	xmlhttp_refresh.send();

    }

    xmlhttp_refresh.onreadystatechange = function() {
	if (xmlhttp_refresh.readyState == 4 && xmlhttp_refresh.status == 200) {
	    var status  = JSON.parse(xmlhttp_refresh.responseText);
	    var num_training_examples = status[0]
	    var positive_examples = status[1]
	    var negative_examples = status[2]

	    var positive_examples_string = "";
	    var negative_examples_string = "";

	    for (var i=0; i < positive_examples.length; i++) {
		positive_examples_string += positive_examples[i];
		positive_examples_string += "\r\n";
	    }
	    for (var i=0; i < negative_examples.length; i++) {
		negative_examples_string += negative_examples[i];
		negative_examples_string += "\r\n";
	    }
	    
	    console.log(num_training_examples);
	    document.getElementById(
		'num_training_examples').innerHTML = num_training_examples;
	    document.getElementById(
		'positive_examples').innerHTML = positive_examples_string;
	    document.getElementById(
		'negative_examples').innerHTML = negative_examples_string;
	    document.getElementById(
	      'submitting-indicator-refresh').style.visibility = 'hidden';

	}
    };

    //
    // TEST CODE
    //
    var xmlhttp_test = new XMLHttpRequest();
    var test_url = '/test';
    test_url += '?job_id={{job_id}}';

    document.getElementById("test").onclick = test;
    function test() {
	document.getElementById(
	    'submitting-indicator-test').style.visibility = 'visible';
	test_url += '&test_sentence=';
	var test_sentence = document.getElementById("test_sentence").value;
	test_url += test_sentence;

	xmlhttp_test.open("GET", test_url, true);
	xmlhttp_test.send();

    }

    xmlhttp_test.onreadystatechange = function() {
	if (xmlhttp_test.readyState == 4 && xmlhttp_test.status == 200) {
	    var test_result = JSON.parse(xmlhttp_test.responseText);
	    console.log(test_result);
	    if (test_result == 0){
		document.getElementById(
		    'test_result').innerHTML = "NO";
	    } else {
		document.getElementById(
		    'test_result').innerHTML = "YES";
	    }
	    document.getElementById(
	      'submitting-indicator-test').style.visibility = 'hidden';

	}
    };


    //
    //RETRAIN CODE
    //
    var xmlhttp_retrain = new XMLHttpRequest();
    var retrain_url = '/retrain';
    retrain_url += '?job_id={{job_id}}';
    
    document.getElementById("retrain").onclick = retrain;
    function retrain() {
	document.getElementById(
	    'submitting-indicator-retrain').style.visibility = 'visible';
	document.getElementById(
	    'retrain').disabled = true;
	xmlhttp_retrain.open("GET", retrain_url, true);
	xmlhttp_retrain.send();

    }

    xmlhttp_retrain.onreadystatechange = function() {
	if (xmlhttp_retrain.readyState == 4 && xmlhttp_retrain.status == 200) {
	    var response = JSON.parse(xmlhttp_retrain.responseText);
	    console.log(response);
	    document.getElementById(
		'retrain_status').innerHTML = 'Retraining...';
	    
	    setTimeout(check_retrain_status,5000);
	    
	}
    };

    var xmlhttp_retrain_status = new XMLHttpRequest();
    var retrain_status_url = '/retrain_status';
    retrain_status_url += '?job_id={{job_id}}';

    xmlhttp_retrain_status.onreadystatechange = function() {
	if (xmlhttp_retrain_status.readyState == 4 &&
	    xmlhttp_retrain_status.status == 200) {
	    var response = JSON.parse(xmlhttp_retrain_status.responseText);
	    console.log(response);
	    if (response == 'Model Ready') {
		document.getElementById(
		    'retrain_status').innerHTML = 'Model Ready.';
		document.getElementById(
		    'submitting-indicator-retrain').style.visibility = 'hidden';
		document.getElementById(
		    'retrain').disabled = false;
	    } else {
		setTimeout(check_retrain_status, 5000);

	    }
	    
	}
    };

    function check_retrain_status() {
	xmlhttp_retrain_status.open("GET", retrain_status_url, true);
	xmlhttp_retrain_status.send();
    }
  </script>
</html>
