<html>
  <head>
    <title>Extremest Extraction></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

     <style type='text/css'>
       textarea {
       white-space: nowrap;
       overflow:    scroll;
       overflow-y:  scroll;
       overflow-x:  scroll;
       overflow:    -moz-scrollbars-horizontal;
       }
     </style>
  </head>
  <body>
    <div class="container">
    <h1> Master Algorithm v0.2</h1>
    <h2> Your event is now being learned! </h2>
    <b>Event:</b> {{ event_name }}
    <br/>
    <b>Event Definition:</b> {{ event_definition }}
    <br/>
    <b>Event Positive Example 1: </b> {{ event_pos_example_1 }}
    <br/>
    <b>Event Positive Example 1 Trigger: </b> {{ event_pos_example_1_trigger }}
    <br/>
    <b>Event Positive Example 2: </b> {{ event_pos_example_2 }}
    <br/>
    <b>Event Positive Example 2 Trigger: </b> {{ event_pos_example_2_trigger }}
    <br/>
    <b>Event Positive Example Near-miss: </b> {{ event_pos_example_nearmiss }}
    <br/>
    <b>Event Negative Example </b> {{ event_neg_example }}
    <br/>
    <b>Event Negative Example Near-Miss </b> {{event_neg_example_nearmiss}}
    <br/>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="visibility: hidden;">
    </iframe>

    <hr/>
    <h2> <b>Current Status:</b> <span id="job_status">...</span> </h2>
    <b> Job Id (save this somewhere!): </b> {{job_id}} <br/><br/>
    <button id="pause">Pause the job</button>
    <button id="restart">Restart the job</button>

    <hr/>
    <h2> <b>Current Examples:</b></h2>
    Label the following event types as positive examples, and all other types as negative:
    <br/>
    <input type="checkbox" id="view_types_past" value="past" checked> Past events </input>
    <input type="checkbox" id="view_types_future" value="future"> Future events </input>
    <input type="checkbox" id="view_types_general" value="general"> General/Hypothetical/Failing events </input>
    <br/>
    <button id="refresh">View current examples</button>
    <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-refresh" style="visibility:hidden;"/>
    <br/><br/>
    <p> <b><span id="num_training_examples">0</span></b> training examples. </p>
    Positive examples <span id=view_num_pos>(0) </span> : <br/>
    <textarea id="positive_examples" rows="10" cols="100" wrap="soft">
    </textarea><br/>
    Negative examples <span id=view_num_neg>(0) </span> :<br/>
    <textarea id="negative_examples" rows="10" cols="100" wrap="soft">
    </textarea><br/>

    
    <hr/>

    <!--
    <h2> <b> Restart a crashed job (Don't push this unless you know what you're doing!): </b> </h2>
    <form action="/restart" method="post" target="dummyframe">
      <input type="hidden" name="job_id" size="100" value="{{job_id}}" /><br/>
      <input type="submit" value="Restart Training">
    </form>
    <hr/>
    -->
    <h2><b> Current CNN Model: </b></h2>
    Model currently trained using <b><span id="num_training_examples_in_model">0</span></b> examples. <br/>

    Train using the following event types as positive examples, and all other types as negative:
    <br/>

    <input type="checkbox" id="train_types_past" value="past" checked> Past events </input>
    <input type="checkbox" id="train_types_future" value="future"> Future events </input>
    <input type="checkbox" id="train_types_general" value="general"> General/Hypothetical/Failing events </input>
    <br/>

    <span id="retrain_status"></span><br/>
    <button id="retrain">Train the model (can take some time)</button>
    <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-retrain" style="visibility:hidden;"/>
    <br/><br/>
    <button id="cv">Test on Held-out examples:</button>     <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-cv" style="visibility:hidden;"/><br/>
    F1: <span id="f1"></span> <br/>
    Precision: <span id="precision"></span> <br/>
    Recall: <span id="recall"></span> <br/>
    True Positives:<br/>
    <textarea id="true_positives" rows="5" cols="100" wrap="soft">
    </textarea><br/>
    False Positives:<br/>
    <textarea id="false_positives" rows="5" cols="100" wrap="soft">
    </textarea><br/>
    True Negatives:<br/>
    <textarea id="true_negatives" rows="5" cols="100" wrap="soft">
    </textarea><br/>
    False Negatives:<br/>
    <textarea id="false_negatives" rows="5" cols="100" wrap="soft">
    </textarea><br/>

    <hr/>
    <h2><b> Try a sentence: </b></h2>
      <input id="test_sentence" type="text" size="100" placeholder="Enter a test sentence here."/> <br/>
      <button id="test">{{event_name}}??</button>
      <img src="https://homes.cs.washington.edu/~chrislin/ajax-loader.gif" id="submitting-indicator-test" style="visibility:hidden;"/>

      <br/>
      
      <h3>Result:<span id="test_result"></span> </h3>

      <br/>
      <br/>
      </div>
  </body>



  
  <script type="text/javascript">
    //
    //GATHER STATUS CODE
    //

    var xmlhttp_refresh = new XMLHttpRequest();
    document.getElementById("refresh").onclick = refresh;
    function refresh() {
	var refresh_url = '/gather_status';
	refresh_url += '?job_id={{job_id}}';
	refresh_url += '&positive_types=dummytype';
	
	if (document.getElementById('view_types_past').checked) {
	    refresh_url += '&positive_types=';
	    refresh_url += document.getElementById('view_types_past').value;
	}
	if (document.getElementById('view_types_future').checked) {
	    refresh_url += '&positive_types=';
	    refresh_url += document.getElementById('view_types_future').value;
	}
	
	if (document.getElementById('view_types_general').checked) {
	    refresh_url += '&positive_types=';
	    refresh_url += document.getElementById('view_types_general').value;
	}
	

	console.log(refresh_url);
	document.getElementById(
	    'submitting-indicator-refresh').style.visibility = 'visible';
	xmlhttp_refresh.open("GET", refresh_url, true);
	xmlhttp_refresh.send();

    }

    xmlhttp_refresh.onreadystatechange = function() {
	if (xmlhttp_refresh.readyState == 4 && xmlhttp_refresh.status == 200) {
	    var status  = JSON.parse(xmlhttp_refresh.responseText);
	    var num_training_examples = status[0]
	    var positive_examples = status[1]
	    var negative_examples = status[2]

	    var positive_examples_string = "";
	    var negative_examples_string = "";

	    for (var i=0; i < positive_examples.length; i++) {
		positive_examples_string += positive_examples[i];
		positive_examples_string += "\r\n";
	    }
	    for (var i=0; i < negative_examples.length; i++) {
		negative_examples_string += negative_examples[i];
		negative_examples_string += "\r\n";
	    }
	    
	    console.log(num_training_examples);
	    document.getElementById(
		'num_training_examples').innerHTML = num_training_examples;
	    document.getElementById(
		'positive_examples').innerHTML = positive_examples_string;
	    document.getElementById('view_num_pos').innerHTML = '(' + positive_examples.length + ')';
	    document.getElementById(
		'negative_examples').innerHTML = negative_examples_string;
	    document.getElementById('view_num_neg').innerHTML = '(' + negative_examples.length + ')';
	    document.getElementById(
	      'submitting-indicator-refresh').style.visibility = 'hidden';

	}
    };

    //
    // TEST CODE
    //
    var xmlhttp_test = new XMLHttpRequest();

    document.getElementById("test").onclick = test;
    function test() {
	document.getElementById(
	    'submitting-indicator-test').style.visibility = 'visible';
	var test_url = '/test';
	test_url += '?job_id={{job_id}}';
	test_url += '&test_sentence=';
	var test_sentence = document.getElementById("test_sentence").value;
	console.log(test_sentence);
	test_url += test_sentence;

	xmlhttp_test.open("GET", test_url, true);
	xmlhttp_test.send();

    }

    xmlhttp_test.onreadystatechange = function() {
	if (xmlhttp_test.readyState == 4 && xmlhttp_test.status == 200) {
	    var test_result = JSON.parse(xmlhttp_test.responseText);
	    console.log(test_result);
	    if (test_result == 0){
		document.getElementById(
		    'test_result').innerHTML = "NO";
	    } else {
		document.getElementById(
		    'test_result').innerHTML = "YES";
	    }
	    document.getElementById(
	      'submitting-indicator-test').style.visibility = 'hidden';

	}
    };


    //
    // Cross validation Code
    //
    var xmlhttp_cv = new XMLHttpRequest();

    document.getElementById("cv").onclick = cv;
    function cv() {
	var cv_url = '/cv';
	cv_url += '?job_id={{job_id}}';
	
	cv_url += '&positive_types=dummytype';
	
	if (document.getElementById('train_types_past').checked) {
	    cv_url += '&positive_types=';
	    cv_url += document.getElementById('train_types_past').value;
	}
	if (document.getElementById('train_types_future').checked) {
	    cv_url += '&positive_types=';
	    cv_url += document.getElementById('train_types_future').value;
	}
	
	if (document.getElementById('train_types_general').checked) {
	    cv_url += '&positive_types=';
	    cv_url += document.getElementById('train_types_general').value;
	}

	document.getElementById(
	    'submitting-indicator-cv').style.visibility = 'visible';
	xmlhttp_cv.open("GET", cv_url, true);
	xmlhttp_cv.send();

    }

    xmlhttp_cv.onreadystatechange = function() {
	if (xmlhttp_cv.readyState == 4 && xmlhttp_cv.status == 200) {
	    var cv_result = JSON.parse(xmlhttp_cv.responseText);

	    var true_positives = cv_result[0]
	    var false_positives = cv_result[1]
	    var true_negatives = cv_result[2]
	    var false_negatives = cv_result[3]
	    var stats = cv_result[4]
	    var precision = stats[0]
	    var recall = stats[1]
	    var f1 = stats[2]

	    var true_positives_string = "";
	    var false_positives_string = "";
	    var true_negatives_string = "";
	    var false_negatives_string = "";
	    
	    for (var i=0; i < true_positives.length; i++) {
		true_positives_string += true_positives[i];
		true_positives_string += "\r\n";
	    }
	    for (var i=0; i < false_positives.length; i++) {
		false_positives_string += false_positives[i];
		false_positives_string += "\r\n";
	    }
	    for (var i=0; i < false_negatives.length; i++) {
		false_negatives_string += false_negatives[i];
		false_negatives_string += "\r\n";
	    }
	    for (var i=0; i < true_negatives.length; i++) {
		true_negatives_string += true_negatives[i];
		true_negatives_string += "\r\n";
	    }
	    
	    
	    
	    console.log(cv_result);
	    
	    document.getElementById(
	      'submitting-indicator-cv').style.visibility = 'hidden';

	    document.getElementById(
		'true_positives').innerHTML = true_positives_string;
	    document.getElementById(
		'false_positives').innerHTML = false_positives_string;
	    document.getElementById(
		'true_negatives').innerHTML = true_negatives_string;
	    document.getElementById(
		'false_negatives').innerHTML = false_negatives_string;

	    document.getElementById(
		'precision').innerHTML = precision;
	    document.getElementById(
		'recall').innerHTML = recall;
	    document.getElementById(
		'f1').innerHTML = f1;
	}
    };



    //
    //RETRAIN CODE
    //
    var xmlhttp_retrain = new XMLHttpRequest();
    
    document.getElementById("retrain").onclick = retrain;
    function retrain() {

	var retrain_url = '/retrain';
	retrain_url += '?job_id={{job_id}}';
    
	retrain_url += '&positive_types=dummytype';
	
	if (document.getElementById('train_types_past').checked) {
	    retrain_url += '&positive_types=';
	    retrain_url += document.getElementById('train_types_past').value;
	}
	if (document.getElementById('train_types_future').checked) {
	    retrain_url += '&positive_types=';
	    retrain_url += document.getElementById('train_types_future').value;
	}
	
	if (document.getElementById('train_types_general').checked) {
	    retrain_url += '&positive_types=';
	    retrain_url += document.getElementById('train_types_general').value;
	}
	


	document.getElementById(
	    'submitting-indicator-retrain').style.visibility = 'visible';
	document.getElementById(
	    'retrain').disabled = true;
	xmlhttp_retrain.open("GET", retrain_url, true);
	xmlhttp_retrain.send();

    }

    xmlhttp_retrain.onreadystatechange = function() {
	if (xmlhttp_retrain.readyState == 4 && xmlhttp_retrain.status == 200) {
	    var response = JSON.parse(xmlhttp_retrain.responseText);
	    console.log(response);
	    document.getElementById(
		'retrain_status').innerHTML = 'Retraining...';
	    
	    setTimeout(check_retrain_status,10000);
	    
	}
    };

    var xmlhttp_retrain_status = new XMLHttpRequest();
    var retrain_status_url = '/retrain_status';
    retrain_status_url += '?job_id={{job_id}}';

    xmlhttp_retrain_status.onreadystatechange = function() {
	if (xmlhttp_retrain_status.readyState == 4 &&
	    xmlhttp_retrain_status.status == 200) {
	    var response = JSON.parse(xmlhttp_retrain_status.responseText);
	    console.log(response);
	    if (response >= 0) {
		document.getElementById(
		    'num_training_examples_in_model').innerHTML = response;
		document.getElementById(
		    'retrain_status').innerHTML = 'Model Ready.';
		document.getElementById(
		    'submitting-indicator-retrain').style.visibility = 'hidden';
		document.getElementById(
		    'retrain').disabled = false;
	    } else {
		setTimeout(check_retrain_status, 10000);

	    }
	    
	}
    };

    function check_retrain_status() {
	xmlhttp_retrain_status.open("GET", retrain_status_url, true);
	xmlhttp_retrain_status.send();
    }


    /*
     * JOB STATUS CODE
     */
    var xmlhttp_job_status = new XMLHttpRequest();
    var job_status_url = '/status';
    job_status_url += '?job_id={{job_id}}';

    function check_job_status() {
	xmlhttp_job_status.open("GET", job_status_url, true);
	xmlhttp_job_status.send();

    }

    xmlhttp_job_status.onreadystatechange = function() {
	if (xmlhttp_job_status.readyState == 4 &&
	    xmlhttp_job_status.status == 200) {
	    var response = JSON.parse(xmlhttp_job_status.responseText);
	    console.log(response);
	    if (response == 'Running') {
		document.getElementById('pause').disabled = false;
		document.getElementById('restart').disabled = true;

		document.getElementById('job_status').innerHTML = '<font color="green">Running</font>';
	    } else if (response == 'Paused') {
		document.getElementById('pause').disabled = true;
		document.getElementById('restart').disabled = false;

		document.getElementById('job_status').innerHTML = '<font color="red">Paused</font>';
	    } else {
		document.getElementById('job_status').innerHTML = '<font color="red">No Status</font>';
	    }

	}
    };


    var xmlhttp_pause = new XMLHttpRequest();
    var pause_url = '/pause';
    pause_url += '?job_id={{job_id}}';

    document.getElementById("pause").onclick = pause;
    function pause() {
	document.getElementById('pause').disabled = true;
	document.getElementById('restart').disabled = false;
	xmlhttp_pause.open("GET", pause_url, true);
	xmlhttp_pause.send();

    }

    xmlhttp_pause.onreadystatechange = function() {
	if (xmlhttp_pause.readyState == 4 && xmlhttp_pause.status == 200) {
	    var response = JSON.parse(xmlhttp_pause.responseText);
	    console.log(response);
	    if (response == 1) {
		document.getElementById('job_status').innerHTML = '<font color="red">Paused</font>';
	    } else {
		alert('Could not pause.');
		document.getElementById('pause').disabled = false;
		document.getElementById('restart').disabled = true;
	    }
	    
	}
    };



    var xmlhttp_restart = new XMLHttpRequest();
    var restart_url = '/restart';
    restart_url += '?job_id={{job_id}}';

    document.getElementById("restart").onclick = restart;
    function restart() {
	document.getElementById('pause').disabled = false;
	document.getElementById('restart').disabled = true;
	xmlhttp_restart.open("GET", restart_url, true);
	xmlhttp_restart.send();
    }

    xmlhttp_restart.onreadystatechange = function() {
	if (xmlhttp_restart.readyState == 4 && xmlhttp_restart.status == 200) {
	    var response = JSON.parse(xmlhttp_restart.responseText);
	    console.log(response);
	    if (response == 1) {
		document.getElementById('job_status').innerHTML = '<font color="green">Running</font>';
	    } else {
		alert('Could not restart.');
		document.getElementById('pause').disabled = true;
		document.getElementById('restart').disabled = false;
	    }
	    
	}
    };


    function on_window_load() {
	check_retrain_status();
	check_job_status();
    }

    window.onload = on_window_load;

  </script>
</html>
